* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.main-header {
  width: 100%;
  background-color: peru;
  padding: 8px 16px;
  position: fixed;
  z-index: 1;
}
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-header__brand {
  font-weight: bold;
  font-size: 30px;
}
.main-nav {
  display: inline-block;
  width: cal(100% - 165px);
  vertical-align: middle;
}
/* removes the default padding and margin of ul/li items */
.main-nav__items {
  margin: 0;
  padding: 0;
  /* margin-left: 1280px; */
}
.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}
/* Grouping Rules */
.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white; 
}

.landing-img {
  background: url("./images/BeerCycle.png")left 10% bottom 30%/cover no-repeat border-box;
  width: 100%;
  height: 750px;
  padding: 10px;
  position: relative;
}

.landing-img h2 {
    position: absolute;
    color: white;
    background-color: peru;
    bottom: 5%;
    left: 60%;
    display: inline-block;
}

.carousel-container {
  background: rgb(rgb(241, 190, 142));
  margin: 20px;
  /* padding: 8px 16px; */
}

.carousel-container h2 {
  color: peru;
  text-align: center;
  padding: 8px;
}

.modal-beer-container {
  margin: 10px;
  font-weight: 200;
  display: inline-block;
  padding: 5px;
  width: 250px;
  background-color: red;
}

.breweries-container, 
.beer-types-container {
  background: rgb(247, 217, 178);
  margin: 16px;
}




.footer {
  background: black;
  padding: 19px;
  margin-top: 48px;
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer__link {
  color: white;
  margin: 0 16px;
}